# guide to set alias: https://git-scm.com/book/en/v2/Git-Basics-Git-Aliases

[alias]
    s = status
    logs = log --oneline --graph --decorate
    branches = git branch -r
    co = checkout
    c = commit -m
    a = add
    d = diff
    b = branch
    ds = diff --staged
    po = push origin
    pom = push origin main
    puo = pull origin
    puom = pull origin main
[core]
    editor = nvim
[init]
    defaultBranch = main
[user]
    name = Saurabh Chopra
    email = Saurabh.Chopra.2021@live.rhul.ac.uk
    username = saurbhc
[grep]
    lineNumber = true
    extendedRegexp = true
