# guide to set alias: https://git-scm.com/book/en/v2/Git-Basics-Git-Aliases

[user]
	name = Saurabh Chopra
	email = Saurabh.Chopra.2021@live.rhul.ac.uk
	username = saurbhc
[alias]
    s = status
    logs = log --oneline --graph --decorate
    branches = git branch -r
    c = commit -m
    po = push origin
    pom = push origin main
